body {
    background: linear-gradient(#07010a 0%, #f60ab3 40%,#5f20d3 100%);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.profilimage {
    width: 200px;
}
.profile h2 {
    color: white;
}
.profile h6 {
    color: white;
    transform: translate(-10px);
}
.biodata {
    background: linear-gradient(#ffffff 0%, #ffffffad 40%,#ffffff00 100%);
    padding-bottom: 100px;
}
.footer {
    background-color: #fff;
}